.wrap {
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 48px;
    background: #fff;
    border-radius: 24px;
}

.wrapAvatar {
    border: 3px solid #fbe9ba;
border-radius: 100px;
width: 120px;
height: 120px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
}

.wrapTitls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.name {
   margin-top: 8px; 
   margin-bottom: 0;
font-weight: 500;
font-size: 24px;
line-height: 100%;
color: #121417;
}

.wrapDetails {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 0;

}