.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .logo {
    display: flex;
    gap: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: -0.02em;
color: #121417;
  }

  .navigation {
    display: flex;
    gap: 28px;
  }

  .registration {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .circle {
    background-color: #8A8A89;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    /* border: 1px solid blue; */
  }
  .linkNavigation {
    text-decoration: none;
    font-size: 16px;
    line-height: 125%;
    color: #121417;
  }

  .btnLogin {
    border: none;
    background-color: transparent;
font-weight: 700;
font-size: 16px;
line-height: 125%;
color: #8a8a89;
cursor: pointer;
  }

  .btnLogin span {
    margin-left: 8px;
  }


  .btnRegistration {
    font-weight: 700;
    border: none;
font-size: 16px;
line-height: 125%;
color: #fff;
background-color: #8a8a89;
border-radius: 12px;
padding: 14px 39px;
width: 166px;
height: 48px;
cursor: pointer;
  }

  
  
  .linkNavigation:global(.active) {
    color: red;
  }
  
  /* .error {
    color: red;
  } */