.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    border: 1px solid green;
}

.wrapImg {
    flex: 1;
    display: flex;
    max-width: 568px;
    /* min-width: 200px; */
    /* width: 44%;  */
    /* height: 100%;   */
    border: 1px solid blue;
    justify-content: center;
    border-radius: 30px;
}

.img {
    /* border-radius: 30px; */
    fill: #8a8a89;
    width: 100%; 
    height: auto;
    object-fit: cover;
    
}